{% extends 'layout.html' %}

{% block body %}

    
    
    {% include 'includes/_messages.html' %}
    
    <div class="jumbotron container" style="margin-top: 20px ;">
        <h1 style="text-align: center;">Our team</h1>
        <p style="text-align: center;">
            <strong>Zaid EL KASEMY</strong> : zaid.el-kasemy@student-cs.fr
        </p>
        <p style="text-align: center;">
            <strong>Yassine OUCHNA</strong> : yassine.ouchna@student-cs.fr
        </p>
        <p style="text-align: center;">
            <strong>Moghit YEBARI</strong> : moghit.yebari@student-cs.fr
        </p>
        <p style="text-align: center;">
            <strong>Rachid SLIMANI</strong> : rachid.slimani@student-cs.fr
        </p>
        <p style="text-align: center;">
            <strong>Chaimae EL OMARI</strong> : chaimae.el-omari@student-cs.fr
        </p>
        <p style="text-align: center;">
            <strong>Yehiya MONLA</strong> : yehiya.monla@student-cs.fr
        </p>

 
{% endblock %}